<div class='signature-list'>
    <p>We signed: </p>
    {{#each signatures}}
        <div>
            <a href='http://{{homepage}}'>{{first_name}}
                {{last_name}}
                ({{age}})</a>

            <a href='/signatures/{{city}}'>{{city}}</a>

        </div>
    {{/each}}

</div>